<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:fragment="afficherNotificationsDirEta" class="container">

	<div class="starter-template">
		<h1>Notifications</h1>
		<br></br>
		<table>
			<thead>
				<tr>
					<td>Date - Heure</td>
					<td>Envoyé par</td>
					<td>Contenu</td>
					<td>Supprimer</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${listeNotification}">
					<td th:text="${item.dateHeureNotif}"></td>
					<!-- <td th:text="${item.dir_etablissement.prenom}+' '+${item.dir_etablissement.nom}"></td> -->
					<td></td>
					<td th:text="${item.contenu}"></td>
					<td><button>-</button></td>
				</tr>
			</tbody>
		</table>
		<br></br> <a href="/notification/ajouterNotificationDirEta"><input
			type="button" name="addNotif" value="Envoyer une notification" /></a>
	</div>
</div>

</html>