<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:fragment="afficherNotificationsEtu" class="container">

	<div class="starter-template">
		<h1>Notifications</h1>
		<br></br>
		<table>
			<thead>
				<tr>
					<td>Date - Heure</td>
					<td>Envoyé par</td>
					<td>Contenu</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="i : ${compteur}">
					<td th:text="${listeNotification[i].dateHeureNotif}"></td>
					<td th:text="${listeEmetteur[i]}"></td>
					<td th:text="${listeNotification[i].contenu}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</html>