<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:fragment="afficherProblemesEtu" class="container">

	<div class="starter-template">
		<h1>Liste des problèmes</h1>
		<br></br>
		<h2 th:text="${message}"></h2>
		<table>
			<thead>
				<tr>
					<td>Date - Heure</td>
					<td>Status</td>
					<td>Soumis par</td>
					<td>Objet</td>
					<td>Contenu</td>
					<td>Nb Vote</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${listProblemes}">
					<td th:text="${item.dateHeureProbleme}"></td>
					<td th:text="${item.status.libelle}"></td>
					<td th:text="${item.etudiant.prenom}+' '+${item.etudiant.nom}"></td>
					<td th:text="${item.objet}"></td>
					<td th:text="${item.contenu}"></td>
					<td th:text="${item.nbVote}"></td>
					<td>
						<form method="post">
							<input type="hidden" name="idProbleme" th:value="*{item.idProbleme}"/>
							<button type="submit">+</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<br></br>
		<a href="/problemes/ajouterProbleme">
		<input type="button" name="addPb" value="Soumettre un problème" />
		</a>
	</div>
</div>

</html>