<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:fragment="afficherNotificationsEtu" class="container">

	<div class="starter-template">
		<h1>Notifications</h1>
		<br></br>
		<table>
			<thead>
				<tr>
					<td>Date - Heure</td>
					<td>Envoyé par</td>
					<td>Objet</td>
					<td>Contenu</td>
					<td>Supprimer</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

</html>