<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:fragment="afficherProblemesDirEta" class="container">

	<div class="starter-template">
		<h1>Liste des problèmes</h1>
		<br></br>
		<table>
			<thead>
				<tr>
					<td>Date - Heure</td>
					<td>Status</td>
					<td>Soumis par</td>
					<td>Objet</td>
					<td>Contenu</td>
					<td>Nb Vote</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${listProblemes}">
					<td th:text="${item.dateHeureProbleme}"></td>
					<td th:text="${item.status.libelle}"></td>
					<td th:text="${item.etudiant.prenom}+' '+${item.etudiant.nom}"></td>
					<td th:text="${item.objet}"></td>
					<td th:text="${item.contenu}"></td>
					<td></td>
					<!-- <td th:text="${item.vote}"></td> -->
				</tr>
			</tbody>
		</table>
		<br></br>
		<a href="/problemes/supprProblemesResolus">
		<input type="button" name="delPb" value="Supprimer problèmes résolus" />
		</a>
		<br></br>
		<br></br>
		<a href="/problemes/limiterNbPbDirEta">
		<input type="button" name="limnbPb" value="Limiter nb problème" />
		</a>
	</div>
</div>

</html>