<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:fragment="ajouterNotificationDirEtu" class="container">

	<div class="starter-template">
		<h1>Envoyer une notification</h1>
		<br></br>
		<form method="post">
			<label>Contenu :</label>
			<br></br>
			<textarea name="contenu" rows="10" cols="50"></textarea>
			<br></br>
			<br></br>
			<button type="submit">Envoyer</button>
		</form>
	</div>
</div>

</html>