<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:fragment="informations" class="container">

	<div class="starter-template">
		<h1>Informations</h1>
		<br></br>
		<div th:text="'Type de personne : '+${role}"></div>
		<div th:text="'Login : '+${personne.login}"></div>
		<div th:text="'Prénom : '+${personne.prenom}"></div>
		<div th:text="'NOM : '+${personne.nom}"></div>
		<div th:if="${typePersonne} != 'dirEtablissement'"
			th:text="'Filière : '+${personne.filiere.nomFiliere}"></div>
		<div th:if="${typePersonne} == 'etudiant'"
			th:text="'Nombre de problèmes autorisé par jour : '+${personne.nbProbAutoriseJour}"></div>
	</div>
</div>

</html>