<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>projetFinal jee</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/personnes/infosEtudiant">Infos étudiant</a></li>
					<li><a href="/probleme/afficherProblemes">Problèmes</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>Informations</h1>
			<div th:text="'prénom : '+${prenom}"></div>
			<div th:text="'nom : '+${nom}"></div>
			<div th:text="'role : '+${role}"></div>
			<div th:text="'filière : '+${filiere}"></div>
		</div>

	</div>
</body>
</html>