<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div th:fragment="limiterNbPbDirEtu" class="container">

	<div class="starter-template">
		<h1>Limiter nb problème</h1>
		<br></br>
		<h2 th:text="${message}"></h2>
		<form method="post">
			<label>Nb problème /étudiant/jour :</label>
			<input type="text" name="nbPb"></input>
			<br></br>
			<br></br>
			<button type="submit">Soumettre</button>
		</form>
	</div>
</div>

</html>